<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body> 
    <header> 
        <picture><img src="./images/logo-mercado-liebre.svg" alt="Logo mercado liebre"></picture>
        <p>Lugar para poner la barra de busqueda </p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <section>
                <a href="">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </section>
            <footer>
                <a href="">Crea tu cuenta</a>
                <a href="">Ingresa</a>
                <a href="">Mis compras</a>
            </footer>
        </nav>
    </header>
    <main>
        <section>
            Basado en tu ultima visita 
            <article>
                <picture><img src="./images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"></picture>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <picture><img src="./images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"></picture>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <picture><img src="./images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></picture>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <picture><img src="./images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></picture>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
        Seccion de Ofertas 
        <section>
            <article>
                <picture><img src="./images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"></picture>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <picture><img src="./images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"></picture>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <picture><img src="./images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></picture>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <picture><img src="./images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></picture>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <section>Paga con tarjeta o en efectivo</section>
            <section>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</section>
        </article>
        <article>
            <section>Envío gratis desde $ 2.500</section>
            <section>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</section>
        </article>
        <article>
            <section>Seguridad, de principio a fin</section>
            <section>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</section>
        </article>
        <article>
            <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
        </article>
    </footer>
</body>
</html>