<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Trispace:wght@100;400&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Trispace:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css">
    <title>Register</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="logo ml">
            <form action="POST" class="barra-busqueda">
                <input type="text" name="searchbar" id="searchbar" placeholder="Buscar productos, marcas"><button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

            </form>
            <h2 class="copy-header"> 
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        
        <a href="" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/logIn">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="form">
    <form action="/register" method="POST" class="create-form">
        <div>
           <label for="nombreCompleto">Nombre y Apellido:</label>
           <input type="text" name="nombreCompleto" id="nombreCompleto" class="control">
        </div>
        <div>
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text" name="usuario" id="usuario" class="control">
        </div>
        <div>
            <label for="nacimiento">Fecha de Nacimiento:</label>
            <input type="date" name="nacimiento" id="nacimiento" class="control">
        </div>
        <div>
            <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilio" id="domicilio" class="control">
        </div>
        <div>
            <label>Perfil de Usuario:</label>
            <label for="perfilC"> <input type="radio" name="perfil" id="perfilC" value="compra"> Comprador </label>
            <label for="perfilV"> <input type="radio" name="perfil" id="perfilV" value="venta"> Vendedor </label>
        </div>
        <div>
            <label>Categorias de Interes:</label>
                <label for="electro" class="checkbox-label"><input type="checkbox" name="cat" id="electro" value="electro">Electro</label>
                <label for="moda" class="checkbox-label"><input type="checkbox" name="cat" id="moda" value="moda">Moda</label>
                <label for="hogar" class="checkbox-label"><input type="checkbox" name="cat" id="hogar" value="hogar">Hogar</label>
                <label for="jugueteria" class="checkbox-label"><input type="checkbox" name="cat" id="jugueteria" value="jugueteria">Jugueteria</label>
                <label for="vidaS" class="checkbox-label"><input type="checkbox" name="cat" id="vidaS" value="vidaS">Vida Sana</label>
        </div>
        <div>
            <label for="fotoUsuario">Foto de Usuario</label>
            <input type="file" name="fotoUsuario" id="fotoUsuario" accept=".jpg" class="control">
        </div>
        <div>
            <label for="contraseña">Contraseña:</label>
            <input type="password" name="contraseña" id="contraseña" class="control">
        </div>
        <div>
            <label for="conf-contraseña">Confirmar Contraseña:</label>
            <input type="password" name="conf-contraseña" id="conf-contraseña" class="control">
        </div>
        <a href="/"><button type="button" class="button-form">Guardar</button></a>
        <button type="reset" class="button-form">Borrar</button>
   </form>
</section>
<footer>
    <section class="footer-main-section">
        <article class="footer-section">
            <i class="fa-solid fa-credit-card"></i>
            <h3>
                Pagá con tarjeta o en efectivo
            </h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! 
            </p>
        </article>
        <article class="footer-section">
            <i class="fa-solid fa-gift"></i>
            <h3>
                Envío gratis desde $ 2.500            
            </h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. 
            </p>
        </article>
        <article class="footer-section">
            <i class="fa-solid fa-user-shield"></i>
            <h3>
                Seguridad, de principio a fin
            </h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </article>
    </section>
        <article class="copyright">
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </article>
    </footer>
</body>
</html>