footer i{
    font-size: 2em;
    margin: 10px;
    color: #1259c3;
    transition: color 400ms;
}

footer i:hover{
    color: #39b54a;
}

footer p{
    margin-bottom: 10px;
}

.footer-section{
    text-align: center;
}

.copyright{
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}
.footer-main-section{
    display: flex;
    flex-direction: column;    
}

@media (min-width: 769px){
    .footer-main-section{
        flex-direction: row;
    }
    
    .footer-section{
        align-self: flex-end;
        margin: 0 15px;
    }
}
